<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>敏感词管理列表</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/bootstrap-table/1.16.0/bootstrap-table.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-datetimepicker.css">

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap table: Bootstrap 的 jQuery 扩展表格插件，实现查询、分页、排序、复选框、设置显示列、Card view视图、主从表显示、合并列、国际化处理等处理功能 -->
    <script src="/webjars/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
    <script src="/webjars/bootstrap-table/1.16.0/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- Bootstrap-datetimepicker 日期时间选择器 -->
    <script type="text/javascript" src="../js/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../js/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
        $(function () {
            //调用函数，初始化表格
            initTable();
            //当点击查询按钮的时候执行,bootstrap-table前端分页是不能使用搜索功能，所以可以提取出来自定义搜索。
            $("#queryBtn").bind("click", initTable);
        });
        function initTable() {
            //先销毁表格
            $('#myTable').bootstrapTable('destroy');
            $('#myTable').bootstrapTable({
                url: "/sensitiveWords/findAll",//请求后台的URL（*）
                method: 'get',
                dataType: "json",
                dataField: 'rows',
                striped: true,//设置为 true 会有隔行变色效果
                undefinedText: "空",//当数据为 undefined 时显示的字符
                pagination: true, //设置为 true 会在表格底部显示分页条。
                showToggle: "true",//是否显示 切换试图（table/card）按钮
                showColumns: "true",//是否显示 内容列下拉框
                pageNumber: 1,//初始化加载第一页，默认第一页
                pageSize: 10,//每页的记录行数（*）
                pageList: [10, 20, 50, 100, 500, 1000],//可供选择的每页的行数（*），当记录条数大于最小可选择条数时才会出现
                paginationPreText: '上一页',
                paginationNextText: '下一页',
                search: false, //是否显示表格搜索,bootstrap-table服务器分页不能使用搜索功能，可以自定义搜索框，上面jsp中已经给出，操作方法也已经给出
                striped : true,//隔行变色
                showColumns: false,//是否显示 内容列下拉框
                showToggle: false, //是否显示详细视图和列表视图的切换按钮
                clickToSelect: true,  //是否启用点击选中行
                data_local: "zh-US",//表格汉化
                sidePagination: "server", //服务端处理分页
                queryParamsType : "limit",//设置为 ‘limit’ 则会发送符合 RESTFul 格式的参数.
                queryParams: function (params) {
                    // 自定义参数，这里的参数是传给后台的，我这是是分页用的
                    // 请求服务器数据时，你可以通过重写参数的方式添加一些额外的参数，例如 toolbar 中的参数 如果
                    // 如果queryParamsType = 'limit' ,返回参数必须包含limit, offset, search, sort, order
                    // queryParamsType = 'undefined', 返回参数必须包含: pageSize, pageNumber, searchText, sortName, sortOrder.
                    // 返回false将会终止请求。
                    return {//这里的params是table提供的
                        offset: params.offset,//从数据库第几条记录开始
                        limit: params.limit,//找多少条
                        word: $("#word").val()
                    };
                },
                responseHandler: function (res) {　//如果后台返回的json格式不是{rows:[{...},{...}],total:100},可以在这块处理成这样的格式　　　　　　return res;
                    return res;
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'id',

                }, {
                    field: 'word',
                    title: '敏感词',

                }, {
                    title: '操作',
                    align: 'center',
                    formatter: function operateFormatter(value, row, index) {
                        var d = '<button href="#" class="btn btn-warning"  onclick="editOnclick(\'' + row.id + '\',\'' + row.word + '\')">编辑</button> ' +
                            '<button href="#" class="btn btn-danger" style="margin-left: 20px"  onclick="deleteOne(\'' + row.id + '\')">删除</button>';
                        return d;
                    }
                }],
                onLoadSuccess: function () {
                },
                onLoadError: function () {
                    alert("数据加载失败！");
                }
            });
        }

        function addOnclick() {
            $("#exampleModalLabel").text("新增敏感词");
            $("#myModal").modal("toggle");
        }

        function editOnclick(id,word) {
            $("#exampleModalLabel").text("编辑敏感词");
            $('#addWords').val(word);
            $('#addId').val(id);
            $("#myModal").modal("toggle");
        }

        function closeModal() {
            $('#addId').val("");
            $('#addWords').val("");
        }

        // 保存数据
        function operateSave() {
            if ($('#addWords').val() == undefined || $.trim($('#addWords').val()) == "") {
                $("#errorMSG").html("敏感词不能为空");
            } else {
                $('#errorMSG').html("");
                $.ajax({
                    url: "/sensitiveWords/saveSensitiveWords",
                    type: "post",
                    data: {
                        "id": $.trim($('#addId').val()),
                        "word": $.trim($('#addWords').val()),
                    },
                    success: function (status) {
                        alert('保存成功');
                        $('#myModal').modal('hide');
                        $('#addId').val("");
                        $('#addWords').val("");
                        $('#errorMSG').html("");
                        $("#myTable").bootstrapTable('refresh');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        /*弹出jqXHR对象的信息*/
                        alert('error ajax请求被拒绝:  ' +
                            '\n jqXHR.responseText: ' + jqXHR.responseText +
                            '\n jqXHR.status: ' + jqXHR.status +
                            '\n jqXHR.readyState: ' + jqXHR.readyState +
                            '\n jqXHR.statusText: ' + jqXHR.statusText +
                            '\n textStatus: ' + textStatus +
                            "\n errorThrown:" +errorThrown);
                    }
                });
            }
        }

        //单行删除
        function deleteOne(targetID) {
            if (confirm("确定要删除吗？")) {
                $.ajax({
                    url: "/sensitiveWords/deleteSensitiveWords",
                    type: "post",
                    data: {
                        "targetID": targetID
                    },
                    success: function (status) {
                        alert("删除敏感词成功");
                        $("#myTable").bootstrapTable('refresh');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        /*弹出jqXHR对象的信息*/
                        alert('error ajax请求被拒绝:  ' +
                            '\n jqXHR.responseText: ' + jqXHR.responseText +
                            '\n jqXHR.status: ' + jqXHR.status +
                            '\n jqXHR.readyState: ' + jqXHR.readyState +
                            '\n jqXHR.statusText: ' + jqXHR.statusText +
                            '\n textStatus: ' + textStatus +
                            "\n errorThrown:" +errorThrown);
                    }
                });
            }
        }
        
        // 批量删除
        function batchDelete() {
            var selectId = $.map($("#myTable").bootstrapTable('getSelections'), function (row) {
                return row.id;
            });
            if (selectId.length <= 0) {
                alert("请选中至少一行");
            } else {
                if (confirm("确定要删除吗？")) {
                    var data = JSON.stringify(selectId);
                    $.ajax({
                        url: "/sensitiveWords/batchDelete",
                        type: "post",
                        data: {
                            "idArray": data
                        },
                        success: function (status) {
                            alert("删除敏感词成功");
                            $("#myTable").bootstrapTable('refresh');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            /*弹出jqXHR对象的信息*/
                            alert('error ajax请求被拒绝:  ' +
                                '\n jqXHR.responseText: ' + jqXHR.responseText +
                                '\n jqXHR.status: ' + jqXHR.status +
                                '\n jqXHR.readyState: ' + jqXHR.readyState +
                                '\n jqXHR.statusText: ' + jqXHR.statusText +
                                '\n textStatus: ' + textStatus +
                                "\n errorThrown:" +errorThrown);
                        }
                    });
                }
            }
        }

    </script>

</head>
<body>
<div class="panel panel-primary" style="margin-top: 20px">
    <div class="panel-heading">
        <h3 class="panel-title">敏感词管理</h3>
    </div>
    <div class="panel-body">
        <div style="display:inline-block;">
            <div style="float:left;padding:6px;margin-left:20px">
                <span>敏感词：</span>
            </div>
            <div style="float:left;">
                <input type="text" class="form-control" id="word">
            </div>
            <div style="float:left;margin-left:20px;">
                <button id="queryBtn" class="btn btn-primary">查询</button>
            </div>
            <div style="float:left;margin-left:10px;">
                <button type="button" class="btn btn-primary " id="add" onclick="addOnclick()">新增</button>
            </div>
<!--            <div style="float:left;margin-left:10px;">-->
<!--                <button type="button" class="btn btn-warning" id="edit" onclick="editOnclick()">编辑</button>-->
<!--            </div>-->
            <div style="float:left;margin-left:10px;">
                <button type="button" class="btn btn-danger " id="delete" onclick="batchDelete()">删除</button>
            </div>
        </div>
    </div>
</div>

<div class="ibox-content">
    <table id="myTable"></table>
</div>

<!--增加modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width:560px;height: 220px;top: 20px;right: 40px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="exampleModalLabel">新增敏感词</h4>
            </div>
            <div class="modal-body">
                <!-- 隐藏表单 id -->
                <input type="hidden" id="addId"/>
                <div class="form-group row" id="modal-row">
                    <div class="form-group col-md-6">
                        <label for="addWords" class="control-label">敏感词</label>
                        <input type="text" name="addWords" class="form-control" id="addWords">
                    </div>
                </div>
                <div class="form-group">
                    <font id="errorMSG" color="red"></font>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                    </button>
                    <button type="button" id="btn_submit" class="btn btn-primary" onclick="operateSave()">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
