<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>首页界面</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div style="height: 100px;">
    <div class="col-xs-1">
        <ul class="nav nav-tab vertical-tab" role="tablist" id="vtab">
            <li role="presentation" class="active">
                <a href="#tab1" aria-controls="home" role="tab"
                   data-toggle="tab">营业额统计</a>
            </li>
            <li role="presentation">
                <a href="#tab2" aria-controls="inbox" role="tab"
                   data-toggle="tab">骑手订单统计</a>
            </li>
            <li role="presentation">
                <a href="#tab3" aria-controls="outbox" role="tab"
                   data-toggle="tab">敏感词管理</a>
            </li>
            <li role="presentation">
                <a href="#tab4" aria-controls="inbox1" role="tab"
                   data-toggle="tab">视音频</a>
            </li>
            <li role="presentation">
                <a href="#tab5" aria-controls="outbox1" role="tab"
                   data-toggle="tab">图像</a>
            </li>
            <li role="presentation">
                <a href="#tab6" aria-controls="outbox1" role="tab"
                   data-toggle="tab">事件</a>
            </li>
            <li role="presentation">
                <a href="#tab7" aria-controls="outbox1" role="tab"
                   data-toggle="tab">存储</a>
            </li>
        </ul>
    </div>
    <div class="tab-content vertical-tab-content col-xs-10">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <iframe src="/dcwmOrder/index" frameborder="0" style="width: 100%;height: 950px"></iframe>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab2">
            <iframe src="/riderOrder/index" frameborder="0" style="width: 100%;height: 950px"></iframe>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab3">
            <iframe src="/sensitiveWords/index" frameborder="0" style="width: 100%;height: 950px"></iframe>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab4">这是.视音频..</div>
        <div role="tabpanel" class="tab-pane" id="tab5">这是..图像.</div>
        <div role="tabpanel" class="tab-pane" id="tab6">这是..事件.</div>
        <div role="tabpanel" class="tab-pane" id="tab7">这是..存储.</div>
    </div>
</div>

</body>
</html>